@{
    ViewBag.Title = "Press";
}
<main>
    <h1>Här finns vi:</h1>
    <img id="brev" src="~/images/brev.gif" width="192" height="136" alt="brev" />
    <div id="adress"><p> Knottens bokförlag<br />Granvägen 11<br />111 11 Tallbacken<br />Tel: 08-123 546<br />e-post: kontakt@bok.se<br /></p></div>
    <div id="pressklipp">
        <h1>Pressklipp</h1>
        <h2>"Årets barnbokstips"</h2>
        <blockquote>
            "Amfibie! JAG?" av Nelson Nedem är en trevlig och underhållande bok som
            fångar vardagen i kärret bland grodor och paddor. Liksom i hans tidigare böcker
            väcker Nedem med vackra fotografier och skojiga bildtexter på rim såväl barns som
            vuxnas intresse för naturens skatter. Vi möter helt vanliga grodor, men också en del
            djur som inte många känner till. Årets barnbokstips i sin genre!<br /><br /><i>Litteraturposten</i>
        </blockquote>
        <br />
        <h2>"Helt rätt i tiden"</h2>
        <blockquote>
            På marknaden har ett nytt barnboksförlag dykt upp. Knottens förlag är ett nytt litet förlag
            som har tagit på sig den stora rollen att väcka barns och vuxnas intresse för natur och
            miljö. I en tid av klimathot och miljökris tar Knottens ett stort steg i rätt riktning.
            Helt rätt i tiden!<br /><br /><i>Bokbladet</i>
        </blockquote>
    </div>
</main>

